<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architect Website</title>
    <link rel="stylesheet" href="style.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="spinner-container">
      <div class="circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="container" id="home">
      <div class="hamburger-menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
        <span>Close</span>
      </div>
      <section class="sidebar">
        <ul class="menu">
          <li class="menu-item">
            <a href="./index.ejs" class="menu-link" data-content="Home">Home</a> 
          </li>
          <li class="menu-item">
            <a href="./Services_Page.ejs" class="menu-link" data-content="Services">Services</a>
          </li>
          <li class="menu-item">
            <a href="./Unique_Features.ejs" class="menu-link" data-content="Features">Features</a>
          </li>
          <li class="menu-item">
            <a href="./Team.ejs" class="menu-link" data-content="Team">Team</a>
          </li>
          <li class="menu-item">
            <a href="./Login_Signup.ejs" class="menu-link" data-content="Signup">Signup</a>
          </li>
        </ul>
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </section>
      
      <section>
        <style>
          @import url(./style1.css);
        </style>
        <div class="form-structor">
          <div class="signup">
            <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
            <form action="/signup" method="POST">
              <div class="form-holder">
                <input type="text" name="name" class="input" placeholder="Name" required /> <!-- Add name input with required attribute -->
                <input type="email" name="email" class="input" placeholder="Email" required /> <!-- Add email input with required attribute -->
                <input type="password" name="password" class="input" placeholder="Password" required /> <!-- Add password input with required attribute -->
              </div>
              <button type="submit" class="submit-btn">Sign up</button>
            </form>
          </div>          
          <div class="login slide-up">
            <div class="center">
              <h2 class="form-title" id="login"><span>or</span>Log in</h2>
              <form action="/login" method="POST"> <!-- Add form element for login -->
                <div class="form-holder">
                  <input type="email" name="email" class="input" placeholder="Email" id="email" required />
                  <input type="password" name="password" class="input" placeholder="Password" id="password" required />
                </div>
                <button type="submit" class="submit-btn">Log in</button> <!-- Change button type to submit -->
              </form> <!-- Close form element -->
            </div>
          </div>
        </div>
      </section>
      
    </div>
    <script src="./login.js"></script>
    <script src="./script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
